<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
body{background-color:rgb(35, 167, 197)}
h1
{margin-top: 80px;
    margin-left: 10px;
    text-align : center;
    }

.a1 {
    margin-left: 570px;
    margin-top: 140px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: gold;
    text-decoration: none;
    display: block;
    width: 15%;
    height: 35px;
    font-family: cursive;
    border-radius: 10px;
}

.a2 {
    margin-left: 585px;
    margin-top: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: gold;
    text-decoration: none;
    display: block;
    width: 12%;
    height: 35px;
    font-family: cursive;
    border-radius: 10px;
}
</style>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1><marquee scrollamount="15">Shopper User Interface Client</marquee></h1>
<a th:href="@{/createProduct}" class = "a1">Create a New Product</a>
<a th:href="@{/listProducts}" class = "a2">View Products</a>
</body>
</html>