<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
h1{
margin-top: 80px;
    margin-left: 10px;
    text-align : center;
}

#productName{
margin-top: 80px;
color : navy;
}

#delete{
color : red;
text-decoration: none;
}

#update{
color : blue;
text-decoration: none;

}

#view{
color : green;
text-decoration: none;

}

</style>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Product Inventory</h1>
<div th:each="product : ${products}">
<p th:text="${product.productName}"id="productName"/>
<a th:href="@{/delete/{productId}(productId=${product.productId})}"id="delete">Delete Product</a>
<a th:href="@{/update/{productId}(productId=${product.productId})}"id="update">Update Product</a>
<a th:href="@{/{productId}(productId=${product.productId})}"id="view">View Product</a>
</div>
</body>
</html>