<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
h1{
margin-top: 80px;
    margin-left: 10px;
    text-align : center;
}

#productName{
margin-top: 80px;
font-size: 30px;
color : orange;
}

#price{
font-size: 20px;
color : balck;}
</style>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Product Details</h1>
<p th:text="${product.productName}"id="productName"/>
<p th:text="${product.price}"id="price"/>
</body>
</html>